@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
html,
body,
:root {
    height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
    z-index: 0 !important;
}

/* Loader Styles */
.loader {
    border-color: #f0e2e2; /* Tailwind gray-200 */
    border-top-color: #4a5568; /* Tailwind gray-600 */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
